# Auto detect text files and perform LF normalization
* text=auto
examples/octave/* linguist-documentation
doc/sphinx/octave/* linguist-documentation
doc/doxygen/cpp/* linguist-documentation
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.css linguist-detectable=false
